<!doctype html>
<html dir="ltr" lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <%= include_ember_stylesheet_tags :admin %>
    <%= include_ember_script_tags :admin %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
